body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* style car-detail-info */
.car-detail-info {
  display: flex;
  height: 45vh;
}

fieldset {
  min-width: 12rem;
}

fieldset, .img_container {
  flex: auto;
}

fieldset > div {
  line-height: 1.5rem;
}

.img_container {
  text-align: center;
  line-height: 45vh;

}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/* end style car-detail-info */

/* style table of cars */
.cars > table thead {
  display: block;
}

.cars > table > tbody {
  display: block;
  height: 45vh;
  overflow: auto;
}

.cars > table {
  width: 100%;
}

.cars > table > thead > tr, .cars > table > tbody > tr {
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.cars > table > thead > tr > *, .cars > table > tbody > tr > * {
  flex-basis: 20%;
}

.cars > table > thead > tr > th {
  text-align: left;
}

tr {
  border: 1px solid black;
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0.5rem;
}

tbody > tr {
  cursor: pointer;
}

tbody > tr:hover {
  box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.9);
}

thead > tr {
  box-shadow: 0 4px 2px -2px gray;
  background-color: rgb(129, 230, 169);
  margin-bottom: 0;
}


/* end of style table for cars */

.search {
  text-align: right;
}

input[type="text"] {
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 0.5rem;
  width: 20rem;
  transition: width 1s;
}

input[type="text"]:focus {
  width: 100%;
}

@media (max-width: 48rem) {
  .car-detail-info {
    flex-direction: column;

  }
  .car_details {
    display: flex;
    flex-wrap: wrap;
  }
  .car_details > div {
    flex-basis: 50%;
  }
  .img_container {
    line-height: 0;
    /* display: flex;
    justify-content: center; */
    height: 20vh;
  }
  img {
    margin: 0 auto;
  }
}
